/*******************************************************************************
GENERALITES
*******************************************************************************/

/* Le corps du document */
body {
    font-family: sans-serif;
    color: #555; /* #555555 */
    background-color: #ffffff;
}

/* Le titre principal */
h1 {
    font-size: 2.5em;
    color: rgb(46, 46, 160)
}

/* Le titre de second niveau */
h2 {
    font-size: 2em;
    color: #333;
}

/* Le titre de troisième niveau */
h3 {
    font-size: 1.5em;
}

/* Les liens */
a {
    text-decoration: none;
    color: #dd5735;
}

/*******************************************************************************
LAYOUT
*******************************************************************************/

/* L'entête de la page */
.header {
    text-align: center;
    background-color: #ddd;
    border: 1px solid #dd5735;
}

/* Le pied de page */
.footer {
    text-align: center;
    background-color: #ddd;
    border: 1px solid #555;
}

/*******************************************************************************
VARIOUS
*******************************************************************************/

/* Mettre en évidence un parent */
.parent {
    border: 1px dashed #dd5735;
}
